.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #f0f0f0;
    bottom: 0;

  }
  
  .footer-links {
    display: flex;
  }
  
  .footer-links a {
    text-decoration: none;
    color: #333;
    margin-right: 20px;
  }