.product-tile {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: space-between;
  width: calc(20% - 20px);
  margin: 10px;
  padding: 15px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-sizing: border-box;
}

.product-tile img {
  max-width: 50%;
  max-height: auto;
  margin-bottom: 10px;
}



.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  margin: 20px auto;
  padding: 0 20px;
}

.product-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 20px auto;
  padding: 0 20px;
}
.product-counter {
  padding: 5px;
  font-size: 12px;
  color: #999;
  text-align: center;
  padding-right: 260px;
}

.product-tile:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



.product-name {
  font-size: 16px;
  margin: 10px 0;
}

.product-description {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

.price-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.discounted-price {
  font-size: 16px;
  font-weight: bold;
  margin-right: 5px;
}

.original-price {
  font-size: 14px;
  text-decoration: line-through;
  color: #999;
}

.ratings {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.star {
  font-size: 18px;
  color: #f39c12;
  margin: 0 1px;
}

.add-to-cart-button {
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}
/* CartMessage styles */
.cart-message-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-message {
  background-color: #fff;
  border-radius: 5px;
  padding: 15px;
  text-align: center;
}

.cart-message p {
  font-size: 18px;
  margin-bottom: 10px;
}

.cart-message button {
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cart-message button:hover {
  background-color: #2980b9;
}


.add-to-cart-button:hover {
  background-color: #2980b9;
}
@media (max-width: 768px) {
  .product-tile {
    width: 100%; 
    margin: 10px 0;
  }
}
